body[data-action="index"][data-controller="home"][data-namespace="null"]
  #content_wrapper #sidebar
    position: static
  .section, .highlighted, .posts
    ul li .image .admin
      nav
        width: 220px
      form
        padding: 4px
        padding-bottom: 0
        label
          text-transform: none
          color: $text_color
        [type=submit]
          padding: 5px 8px
          text-transform: none