body[data-action="index"][data-controller="home"][data-namespace="null"]
  h1
    display: none
  .section
    margin-bottom: 20px
    border-top-right-radius: 12px
    h2
      opacity: 0.95
      width: 920px
      margin-top: 0
      color: $title_text_color
      padding: 4px 50px
      margin-left: -50px
      font-size: $big_size
      margin-bottom: 40px
      box-shadow: 0px 2px 12px $shadow_color
    ul
      list-style: none
      padding: 10px 0 0 0
      margin-bottom: 0
      +clearfix
      li
        vertical-align: top
        width: 450px
        margin-bottom: 20px
        float: right
        a
          text-transform: uppercase
          text-decoration: none
          &:hover
            text-decoration: underline
        img
          width: 200px
          margin-right: 20px
          box-shadow: 2px 2px 5px $shadow_color
          float: left
          margin-bottom: 10px
        &:first-child
          float: left
          margin-right: 20px
          img
            width: 100%
            float: none
