#header_wrapper
  background-color: $header_color
  border-bottom: 1px solid $border_color
  position: fixed
  top: 0
  width: 100%
  z-index: 400
  +clearfix
  #header
    +grid-system(16)
    padding: 4px 0
    #logo
      +grid(3)
      img
        width: 100%
    .search
      margin-bottom: 0
      padding-top: 10px
      +grid(5)
      [type=text]
        +grid(4)
        +alpha
        +omega
        padding: 4px 9px
      [type=submit]
        +grid(1)
        +alpha
        +omega
        padding: 4px 9px
        border: 1px solid $border_color
        border-left: none
        background-color: $background_color
        color: $subtitle_color
        &:hover
          color: $title_color
    .newsletter_form
      +grid(5)
      padding-top: 14px
      a
        text-decoration: none
        padding: 3px 0
        text-align: center
        display: block
        font-size: $small_size
        background-color: $link_color
        color: $title_text_color
        transition: background-color 0.3s
        &:hover
          background-color: $hover_color
      nav
        position: absolute
        padding: 2px 0
        background-color: $header_color
      [type=text]
        font-size: $tiny_size
        width: 116px
    .sign_in
      +grid(3)
      padding-top: 14px
      color: $subtitle_color
      a
        text-decoration: none
        color: $subtitle_color
        text-align: center
        font-size: $small_size
        line-height: 25px
        padding-right: 5px
        width: 80px
        &:hover
          text-decoration: underline
    #current_region, #current_user
      height: 35px
      padding-top: 17px
    #current_region
      text-align: center
      +grid(3)
      nav
        text-align: left
    #current_user
      text-align: center
      +grid(3)
      nav
        text-align: left
    #facebook
      +grid(2)
      padding-top: 15px
#menu_wrapper
  background-position: center
  padding-top: 110px
  height: 25px
  margin-top: 56px
  +clearfix
  #menu
    +grid-system(16)
    background-color: $content_color
    border-left: 1px solid $border_color
    border-right: 1px solid $border_color
    #sections
      text-align: center
      padding: 13px 0
      a
        text-decoration: none
        text-transform: uppercase
        font-size: $standard_size
        padding: 0 15px
        border-bottom: 3px solid
        margin-left: 5px
        &:hover
          border-bottom: 4px solid
      #region_menu
        display: inline-block
        line-height: 100%
        a
          color: $region_menu_color
          margin-left: 0
        nav
          top: 22px
          a
            font-size: $small_size
            padding: 8px 4px
            border: none
            &:hover
              color: $title_text_color
        
#content_wrapper
  +grid-system(16)
  +clearfix
  border-left: 1px solid $border_color
  border-right: 1px solid $border_color
  background-color: $content_color
  padding: 30px 0 20px 0
  #content
    +grid(13)
  #sidebar
    +grid(3)
    img
      max-width: 156px
      margin-bottom: 31px
      border: 2px solid $border_color
    .related
      .admin
        display: none
      h2
        font-size: $big_size
        line-height: $big_size
        padding-top: 0
      li
        +grid(3)
        +alpha
        +omega
        margin-bottom: 20px
        .image
          +grid(3)
          +alpha
          +omega
          margin-bottom: 4px
          a
            text-transform: uppercase
            text-decoration: none
            &:hover
              text-decoration: underline
            img
              width: 100%
              border: none
              max-width: 100%
              margin: 0
        .text
          +grid(3)
          +alpha
          +omega
          line-height: 94%
          max-height: 45px
          overflow: hidden
          h3
            line-height: 94%
            font-size: 16px
            margin-bottom: 4px
            a
              text-decoration: none
              font-size: $standard_size
              &:hover
                text-decoration: underline
          h4
            display: none
            a
              color: $subtitle_color
              text-decoration: none
              font-size: $small_size
      .more
        +grid(3)
        +alpha
        +omega
        a
          text-align: center
          font-size: $big_size
          font-weight: bold
          display: block
          width: 100%
          color: $title_text_color
          text-decoration: none
          padding: 6px 0
          +transition(0.3s)
          &:hover
            +opacity(0.8)
#error_explanation
  border: 2px solid $error_border_color
  padding: 20px
  border-radius: 4px
  margin-bottom: 20px
  background-color: $error_background_color
  h2
    color: $error_border_color
#left_triangle
  opacity: 0.8
  margin-left: -30px
  margin-top: -40px
  margin-bottom: 20px
  padding: 0
  width: 0px
  height: 0px
  border-style: solid
  border-width: 0 20px 9px 0
  border-color: transparent #777 transparent transparent
#footer_wrapper
  background-color: $footer_color
  color: $title_text_color
  padding: 40px 0
  +clearfix
  #footer
    +grid-system(16)
    padding: 0 10px
    h5
      color: $title_text_color
      font-size: $standard_size
      font-weight: bold
      margin-bottom: 8px
    .facebook
      +grid(5)
    .contact
      +grid(5)
      a
        font-size: $medium_size
        text-decoration: none
#flash
  display: none
  position: fixed
  bottom: 0
  width: 100%
  z-index: 400
  div
    font-size: $big_size
    line-height: $huge_size
    color: $flash_text_color
    padding: 8px
    text-align: center
  .notice, .success
    background-color: $flash_success_color
  .failure, .error, .alert
    background-color: $flash_failure_color
#events, #services
  +clearfix
  margin-left: -10px
  padding-bottom: 15px
  h1
    margin-left: -20px
  #left_triangle
    margin-left: -20px
  .more
    +grid(1)
    +omega
    a
      text-align: center
      font-size: $big_size
      font-weight: bold
      display: block
      width: 100%
      padding-top: 60px
      height: 77px
      color: $title_text_color
      text-decoration: none
      +transition(0.3s)
      &:hover
        +opacity(0.8)
#no_region
  margin: 0 auto
  margin-top: 8%
  background-color: $background_color
  padding: 10px 30px
  width: 680px
  text-align: center
  border-top: 2px solid $header_color
  border-bottom: 2px solid $header_color
  color: $shadow_color
  font-size: $small_size
  line-height: 140%
  #logo
    img
      width: 200px
  #welcome
    padding: 12px 0
    font-size: $medium_size
  #text
    padding: 0 0 15px 0
  #regions
    padding: 0 15px
    ul
      text-align: left
      color: $header_color
      height: 100px
      -webkit-column-count: 5
      -moz-column-count: 5
      column-count: 5
      padding-bottom: 10px
      li
        width: 100%
        display: inline-block
        a
          color: $shadow_color
          text-decoration: none
          border-bottom: 1px dashed $border_color
        a:hover
          color: $hover_color
      .group
        padding-left: 2px
        background-color: $blue
  #video
    iframe
      border: 2px solid $border_color
#newsletter_bait_wrapper
  display: none
  background-color: $footer_color
  position: fixed
  bottom: 0
  width: 100%
  z-index: 400
  padding: 20px 0
  border-top: 1px solid $link_color
  #newsletter_bait
    +grid-system(16)
    .newsletter_form
      +grid(16)
      h5
        background: url(image_path('news.png')) no-repeat
        text-indent: 92px
        color: $link_color
        font-size: 20px
        line-height: 30px
        +grid(9)
        +alpha
      input
        // border-color: $background-color
      [type=submit]
        width: 100px
  .close
    float: right
    font-size: $huge_size
    line-height: 30px
    padding: 0 30px
    border-left: 1px solid $link_color
    text-decoration: none
