body
  margin: 0
  padding: 0
  background-color: $background_color
  color: $text_color
  font-size: $standard_size
  line-height: 130%
  font-family: 'PT Sans', sans-serif
  -webkit-font-smoothing: antialiased  
  font-smoothing: antialiased  
a
  color: $link_color
  transition: color 0.3s
  &:hover
    color: $hover_color
h1
  width: 730px
  background-color: $title_color
  color: $title_text_color
  padding: 10px 30px 8px
  margin-left: -30px
  font-size: $medium_size
  text-transform: uppercase
  margin-bottom: 40px
h2
  color: $subtitle_color
  font-size: $medium_size
h3
  font-size: $standard_size
  color: $subtitle_color
  margin: 0 0 10px 0
h4
  font-size: $standard_size
  color: $subtitle_color
  font-weight: normal
  margin: 0
h5
  color: $subtitle_color
img
  max-width: 730px
p
  padding-top: 0
  padding-bottom: 20px
  margin: 0
label
  display: block
  padding-bottom: 4px
input, textarea, select
  font-size: inherit
  border: 1px solid $border_color
  padding: 4px
input, textarea
  width: 100%
textarea
  height: 120px
  resize: none
select
  color: inherit
input
  &.medium
    width: 40%
  &.small
    width: 20%
strong
  font-weight: bold
table
  width: 100%
  margin: 40px 0
  border-spacing: 0
  margin-top: 0
  img
    max-width: 200px
    max-height: 200px
    margin: 4px 0
    vertical-align: middle
  thead
    background-color: $table_header_color
    color: $table_header_text_color
    a
      color: $table_header_text_color
      text-decoration: none
    th
      text-align: center
    th .asc
      text-decoration: underline
    th .desc
      text-decoration: underline
  tr.odd
    background-color: $table_row_color
  td
    text-align: center
    margin: 0
    padding: 4px 2px
.button
  width: auto
  padding: 12px 20px
  border-radius: 4px
  background-color: $button_color
  color: $button_text_color
  font-weight: bold
  border: none
  text-transform: uppercase
  transition:background-color 0.3s
  text-decoration: none
  &:hover
    background-color: $button_hover_color
    color: $button_text_color
  &:active
    background-color: $button_hover_color
    padding: 13px 19px 11px 21px
    color: $button_text_color
.actions
  margin: 40px 0
  text-align: right
  .button
    margin-bottom: 12px
.field
  margin-bottom: 20px
.newsletter_form
  +grid(6)
  input
    font-size: $small_size
    border: 1px solid $background_color
  [type=text]
    width: 146px
    border-right: none
  [type=submit]
    border: 1px solid $background_color
    color: $title_text_color
    background-color: $link_color
    transition: background-color 0.3s
    width: 30px
    &:hover
      background-color: $hover_color
#header_wrapper
  background-color: $header_color
  border-bottom: 1px solid $border_color
  +clearfix
  #header
    +grid-system(16)
    padding: 4px 0
    #logo
      +grid(3)
      +grid-suffix(1)
      img
        width: 100%
    .newsletter_form
      +grid(9)
      padding-top: 12px
      h5
        display: inline
        margin-right: 8px
      [type=text]
        width: 150px
    #current_region
      height: 40px
      .open
        display: block
        padding-top: 8px
        text-decoration: none
        color: $subtitle_color
        &:hover
          color: $hover_color
      nav
        display: none
        margin-top: 8px
        padding: 4px
        background-color: $header_color
        border: 1px solid $background_color
        a
          display: block
          padding: 8px 4px
      +grid(3)
      padding-top: 12px
      select
        width: 100%
#menu_wrapper
  +clearfix
  padding-top: 100px
  #menu
    +grid-system(16)
    margin: 0 auto
    background-color: $content_color
    height: 35px
  #sections
    padding: 13px 10px
    text-align: center
    overflow: hidden
    border-left: 1px solid $border_color
    border-right: 1px solid $border_color
    a
      text-decoration: none
      text-transform: uppercase
      font-size: $standard_size
      padding: 0 15px
      border-bottom: 3px solid
      margin-right: 5px
      &.local
        color: $local_section_color
      &:hover
        
#content_wrapper
  +grid-system(16)
  +clearfix
  border-left: 1px solid $border_color
  border-right: 1px solid $border_color
  background-color: $content_color
  padding-top: 20px
  #content
    +grid(13)
  #sidebar
    +grid(3)
    img
      margin-left: -6px
      margin-bottom: 46px
      border: 2px solid $border_color
#error_explanation
  border: 2px solid $error_border_color
  padding: 0 20px
  border-radius: 4px
  margin: 40px 0
  background-color: $error_background_color
  h2
    color: $error_border_color
#left_triangle
  opacity: 0.8
  margin-left: -31px
  margin-top: -40px
  padding: 0
  width: 0px
  height: 0px
  border-style: solid
  border-width: 0 20px 9px 0
.pagination
  text-align: center
  a
    text-decoration: none
#footer_wrapper
  background-color: $footer_color
  color: $title_text_color
  padding: 40px 0
  +clearfix
  #footer
    +grid-system(16)
    padding: 0 10px
    h5
      color: $title_text_color
      font-size: $standard_size
      font-weight: bold
      margin-bottom: 8px
    .social
      +grid(5)
    .contact
      +grid(5)
      a
        font-size: $medium_size
        text-decoration: none
#flash
  div
    color: $flash_text_color
    padding: 8px
    text-align: center
  .notice, .success
    background-color: $flash_success_color
  .failure, .error, .alert
    background-color: $flash_failure_color
