body
  margin: 0
  padding: 0
  background-color: $background_color
  color: $text_color
  font-size: $standard_size
  font-family: 'PT Sans', sans-serif
a
  color: $link_color
  transition: color 0.3s
  &:hover
    color: $hover_color
h1
  opacity: 0.95
  z-index: 100
  width: 920px
  background-color: $title_color
  color: $title_text_color
  padding: 4px 50px
  margin-left: -50px
  font-size: $big_size
  margin-bottom: 40px
  box-shadow: 0px 2px 12px $shadow_color
h2
  color: $subtitle_color
  font-size: $medium_size
h3
  font-size: $standard_size
  color: $subtitle_color
  margin: 0 0 10px 0
h4
  font-size: $standard_size
  color: $subtitle_color
  font-weight: normal
  margin: 0
img
  max-width: 920px
p
  padding-top: 0
  padding-bottom: 20px
  margin: 0
label
  display: block
  padding-bottom: 4px
input, textarea, select
  font-size: inherit
  border: 1px solid $border_color
  padding: 4px
input, textarea
  width: 100%
textarea
  height: 120px
  resize: none
select
  color: inherit
input
  &.medium
    width: 40%
  &.small
    width: 20%
table
  width: 100%
  text-align: center
  margin: 40px 0
  border-spacing: 0
  img
    max-width: 200px
    max-height: 200px
    margin: 4px 0
    vertical-align: middle
  thead
    background-color: $table_header_color
    color: $table_header_text_color
  tr.odd
    background-color: $table_row_color
  td
    margin: 0
    padding: 4px 2px
.button
  width: auto
  padding: 12px 20px
  border-radius: 4px
  background-color: $button_color
  color: $button_text_color
  font-weight: bold
  border: none
  text-transform: uppercase
  transition:background-color 0.3s
  text-decoration: none
  &:hover
    background-color: $button_hover_color
    color: $button_text_color
  &:active
    background-color: $button_hover_color
    padding: 13px 19px 11px 21px
    color: $button_text_color
.actions
  margin: 40px 0
  text-align: right
  .button
    margin-bottom: 12px
.field
  margin-bottom: 20px
#header_wrapper
  padding-bottom: 20px
  #header
    width: 980px
    padding: 20px 0
    margin: 0 auto
    a
      img
        opacity: 0.95
        -webkit-filter: drop-shadow(0 0 30px  $white)
        -moz-filter: drop-shadow(0 0 30px  $white)
        -ms-filter: drop-shadow(0 0 30px  $white)
        -o-filter: drop-shadow(0 0 30px  $white)
        filter: drop-shadow(0 0 30px  $white)
#content
  padding: 30px
  width: 920px
  margin: 0 auto
  background-color: $content_color
  border-top-left-radius: 4px
  border-top-right-radius: 4px
  margin-top: -20px
  padding-bottom: 50px
  box-shadow: 0px 5px 30px $shadow_color
#error_explanation
  border: 2px solid $error_border_color
  padding: 0 20px
  border-radius: 4px
  margin: 40px 0
  background-color: $error_background_color
  h2
    color: $error_border_color
#sections
  text-align: center
  margin-bottom: 30px
  a
    text-decoration: none
    font-size: $medium_size
    // border-bottom: 4px solid
    padding: 6px 24px
    margin: 0 4px
    transition:padding 0.2s
    &:active
      padding: 4px 24px
#left_triangle
  float: left
  opacity: 0.6
  margin-left: -51px
  margin-top: -40px
  padding: 0
  width: 0px
  height: 0px
  border-style: solid
  border-width: 0 21px 10px 0
#right_triangle
  float: right
  opacity: 0.6
  margin-right: -51px
  margin-top: -40px
  padding: 0
  width: 0
  height: 0
  border-style: solid
  border-width: 10px 21px 0 0
#footer
  width: 900px
  padding: 5px 40px
  margin: 0 auto
  background-color: $footer_color
  margin-bottom: 60px
  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px
  color: $title_text_color
  box-shadow: 0px 5px 30px $shadow_color
  ul
    display: inline-block
    vertical-align: top
    margin-right: 95px
  a
    display: block
    text-decoration: none
    padding 3px 0
  #email
    margin-bottom: 20px
  h3
    color: $title_text_color
#flash
  div
    width: 920px
    color: $flash_text_color
    padding: 8px 30px
    margin-left: -30px
    margin-bottom: 20px
  .notice, .success
    background-color: $flash_success_color
  .failure, .error, .alert
    background-color: $flash_failure_color
