body[data-action="no_region"][data-controller="home"][data-namespace="null"]
  background-image: url('no_region_background.jpg')
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  background-repeat: no-repeat
  color: $shadow_color
  font-size: $small_size
  line-height: 140%
  font-family: 'PT Sans', sans-serif
  -webkit-font-smoothing: antialiased  
  font-smoothing: antialiased

  #wrapper
    background-color: $transparent_box_color
    padding: 1% 3%
    width: 55%
    margin: auto
    margin-top: 1.5%
    text-align: center
    border-top: 2px solid $white
    border-bottom: 2px solid $white
  #logo
    img
      width: 25%
  #text
    font-size: 0.9em
    padding: 3% 0 4% 0
  #regions
    ul
      text-align: left
      color: $white
      height: 100px
      -webkit-column-count: 5
      -moz-column-count: 5
      column-count: 5
      li
        width: 100%
        display: inline-block
        a
          color: $shadow_color
          text-decoration: none
          border-bottom: 1px dashed $border_color
        a:hover
          color: $hover_color
      .group
        padding-left: 2px
        background-color: $blue