body[data-action="no_region"][data-controller="home"][data-namespace="null"]
  background-image: url('no_region_background.jpg')
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  color: $shadow_color
  font-size: $standard_size
  line-height: 130%
  font-family: 'PT Sans', sans-serif
  -webkit-font-smoothing: antialiased  
  font-smoothing: antialiased

  #wrapper
    background-color: $transparent_box_color
    padding: 1%
    width: 60%
    margin: auto
    margin-top: 3%
    text-align: center
    border-top: 5px solid $border_color
    border-bottom: 5px solid $border_color
  #logo
    img
      width: 25%
  #text
    font-size: 0.9em
    padding: 2% 0
  #regions
    ul
      text-align: left
      color: $white
      height: 120px
      -webkit-column-count: 5
      -moz-column-count: 5
      column-count: 5
      li
        width: 100%
        display: inline-block
        a
          color: $shadow_color
          text-decoration: none
          border-bottom: 1px dashed $border_color
        a.hover
          color: $hover_color
      .group
        padding-left: 2px
        background-color: $blue