= form_for(@section) do |f|
  - if @section.errors.any?
    #error_explanation
      h2 = "#{pluralize(@post.errors.count, "erro impediu", "erros impediram")} que esse post fosse salvo:"
      ul
        -@post.errors.full_messages.each do |msg|
          li= msg
  .field
    = f.label :name
    = f.text_field :name, class: "medium"
  .field
    = f.label :ordering
    = f.text_field :ordering, class: "small"
  .field
    = f.label :color
    = f.text_field :color, class: "small"
  p Use cores HEX para o campo 'Cor'. Há uma lista de opções <a href="http://www.w3schools.com/html/html_colornames.asp">aqui</a> ou você pode gerar uma cor personalizada <a href="http://www.color-hex.com/">aqui</a>.
  .actions
    = f.submit  class:"button"
    div
      | ou 
      a href="javascript:history.back()" cancelar