body[data-action="show"][data-controller="sections"][data-namespace="null"]
  ul
    list-style: none
    padding: 0
    li
      clear: both
      margin-bottom: 40px
      &:last-child
        margin-bottom: 0
      img
        float: left
        margin-right: 20px
        border: 2px solid $border_color
      h2
        margin-bottom: 4px
