body[data-action="index"][data-controller="events"][data-namespace="null"]
  .search
    margin-bottom: 20px
    [type=text]
      +grid(6)
      +alpha
      +omega
      padding: 9px
    [type=submit]
      +grid(1)
      +alpha
      padding: 9px
      border: 1px solid $background_color
      background-color: $link_color
      color: $title_text_color
      transition: background-color 0.3s
      &:hover
        background-color: $hover_color
  .actions
    +grid(6)
    +omega
    margin-top: 13px
    .button
      padding: 9px 22px
