
<%= render :partial => @post %>

<p>
  <%= link_to 'Editar', edit_post_path(@post) %> |
  <%= link_to 'Deletar', @post, :method => :delete, :confirm =>"Você está certo disso?" %> |
  <%= link_to 'Listar posts', posts_path %>
</p>