body{
  margin: 0;
  padding: 0;
  background-color: #ddd;
  color: #333;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}
a{
  color: #EFAB00;
  transition: color 0.3s;
}
a:hover{
  color: #9B0185;
}
h1{
  width: 920px;
  background-color: #aaa;
  color: #fff;
  padding: 8px 30px;
  margin-left: -30px;
  font-size: 24px;
}
h2{
  color: #aaa;
  font-size: 20px;
}
label{
  display: block;
  padding-bottom: 4px;
}
input, textarea, select{
  font-size: inherit;
  border: 1px solid #aaa;
  padding: 4px;
}
input, textarea{
  width: 100%;
}
textarea{
  height: 120px;
  resize: none;
}
select{
  color: inherit;
}
input.medium{
  width: 40%;
}
input.small{
  width: 20%;
}
.button{
  width: auto;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #59af6d;
  color: #fff;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  transition:background-color 0.3s;
}
.button:hover{
  background-color: #5eb472;
}
.button:active{
  background-color: #5eb472;
  padding: 13px 19px 11px 21px;
}
.actions{
  margin: 40px 0;
  text-align: center;
}
.actions .button{
  margin-bottom: 12px;
}
.field{
  margin-bottom: 20px;
}
#header_wrapper{
  z-index: 200;
  padding-top: 40px;
  padding-bottom: 20px;
}
#header{
  width: 980px;
  padding: 20px 0;
  margin: 0 auto;
}
#logo{
  
}
#content{
  padding: 30px;
  width: 920px;
  margin: 0 auto;
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 300;
  margin-top: -20px;
  padding-bottom: 50px;
  box-shadow: 0px 5px 30px #929292;
}
#error_explanation{
  border: 2px solid #e58a94;
  padding: 0 20px;
  border-radius: 4px;
  margin: 40px 0;
  background-color: #f9e7e9;
}
#error_explanation h2{
  color: #e58a94;
}
#sections{
  text-align: center;
  margin-bottom: 50px;
}
#sections a{
  text-decoration: none;
  font-size: 19px;
  border-bottom: 4px solid;
  padding: 6px 24px;
  margin: 0 4px;
  transition:padding 0.2s;
}
#sections a:hover{
}
#sections a:active{
    padding: 4px 24px;
}

#footer{
  width: 900px;
  padding: 0px 40px;
  margin: 0 auto;
  background-color: #333;
  box-shadow: 0px 5px 30px #929292;
  height: 180px;
  margin-bottom: 60px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#flash div{
  width: 920px;
  background-color: #aaa;
  color: #fff;
  padding: 8px 30px;
  margin-left: -30px;
  margin-bottom: 20px;
}
#flash .notice, #flash .success{
  background-color: #59af6d
}
#flash .failure, #flash .error, #flash .alert{
  background-color: #cc1529
}