- host = ( Rails.env.production? ? "arquivonossobemestar.com" : "lvh.me:3000" )

p Olá #{@resource.name}!
p Alguém solicitou um link para mudar sua senha no Nosso Bem Estar. Você pode fazer isto clicando no link abaixo.
p= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @token, subdomain: ( @resource.region ? @resource.region.subdomain : 'www' ))
p Se você não solicitou isto, por favor ignore este email.
p Sua senha não vai ser mudada a menos que você acesse o link acima e crie uma nova senha.
