<% content_for :title do %>
  <%= @region.name %>
<% end %>
<p>
  <strong>Nome:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>Subdomínio:</strong>
  <%= @region.subdomain %>
</p>

<p>
  <strong>Imagem de fundo:</strong>
  <%= image_tag @region.background_url %>
</p>