// COLORS BY NAME
// The colors by name will be used only inside this file, as a reference for other colors.
// Any reference to color in other stylesheets MUST be semantic
$very_light_gray: #eee
$light_gray: #ddd
$medium_light_gray: #aaa
$medium_gray: #777
$medium_dark_gray: #555
$dark_gray: #333
$orange: #ecbc00
$blue: #61afc5
$green: #59af6d
$light_green: #5eb472
$white: #fff
$medium_red: #e58a94
$light_red: #f9e7e9
$red: #cc1529
$beige: #f3e5d3
$transparent_blue: rgba(58, 156, 183, 0.9)
$transparent_orange: rgba(236, 188, 0, 0.9)
$transparent_black: rgba(0, 0, 0, 0.9)
$transparent_gray: rgba(240, 240, 240, 0.9)
$transparent_dark_gray: rgba(60, 60, 60, 0.9)
$transparent_white: rgba(255, 255, 255, 0.85)
$facebook_blue: #3b5998

// COLORS BY SEMANTICS
// These colors should reference colors by name and should have a name associated with its
// meaning and context in the styles.
$header_color: $white
$background_color: $very_light_gray
$border_color: $light_gray
$text_color: $dark_gray
$link_color: $blue
$hover_color: $orange
$title_color: $medium_gray
$title_text_color: $white
$subtitle_color: $medium_light_gray
$table_header_color: $medium_gray
$table_header_text_color: $white
$table_row_color: $very_light_gray
$button_color: $blue
$button_text_color: $white
$button_hover_color: $orange
$content_color: $white
$shadow_color: $medium_gray
$error_border_color: $medium_red
$error_background_color: $light_red
$footer_color: $medium_dark_gray
$flash_text_color: $white
$flash_success_color: $green
$flash_failure_color: $red
$region_menu_color: $medium_dark_gray
$box_title_color: $transparent_blue
$box_title_hover_color: $transparent_orange
$box_subtitle_color: $transparent_dark_gray
$box_background_color: $transparent_gray
$ribbon_color: $medium_dark_gray
$content_ads_color: $beige
$facebook_color: $facebook_blue