body[data-action="show"][data-controller="posts"][data-namespace="null"] #content
  h2
    color: $text_color
    font-size: $huge_size
    line-height: 100%
    margin-bottom: 0
  h3
    color: $title_color
    font-size: $big_size
    line-height: 120%
    margin-bottom: 20px
  h4
    margin-bottom: 0
  .when
    color: $title_color
    font-size: $small_size
  .author
    +grid(5)
    +alpha
  .social
    +grid(8)
    +omega
    margin-bottom: 35px
    &.ending
      +grid(13)
      +alpha
      +omega
  .image
    +grid(7)
    +alpha
    float: left
    margin-right: 20px
    margin-top: -20px
    #img_credit
      font-size: $minimal
      color: $medium_light_gray
      margin-bottom: -2px
    img
      max-width: 400px
    h4
      font-size: $tiny_size
      line-height: 110%
      padding: 3px 6px
      margin: -5px 0 4px 0
      color: $title_color
      background: $border_color
  .content
    margin: 20px 0
    em
      color: $text_color
      font-style: italic
  #left_triangle
    margin-bottom: 10px
