body[data-action="show"][data-controller="posts"][data-namespace="null"] #content
  h2
    color: $text_color
    font-size: $huge_size
    line-height: 100%
    margin-bottom: 0
  h3
    color: $title_color
    font-size: $big_size
    line-height: 120%
    margin-bottom: 20px
  h4
    margin-bottom: 0
  .when
    color: $title_color
    font-size: $small_size
  .author
    +grid(5)
    +alpha
  .social
    +grid(8)
    +omega
    margin-bottom: 35px
    &.ending
      +grid(13)
      +alpha
      +omega
  .image
    +grid(7)
    +alpha
    float: left
    margin-right: 20px
    margin-top: -20px
    #img_credit
      font-size: $minimal
      color: $medium_light_gray
      margin-bottom: -2px
    img
      max-width: 400px
    h4
      font-size: $tiny_size
      line-height: 110%
      padding: 3px 6px
      margin: -5px 0 4px 0
      color: $title_color
      background: $border_color
  .content
    margin: 20px 0
    em
      color: $text_color
      font-style: italic
  .likes
    margin-bottom: 40px
    +grid(8)
    +alpha
    padding: 16px
    width: 428px
    border-radius: 4px
    text-align: center
    position: relative
    h4
      font-size: $big_size
      color: $title_text_color
      line-height: 162%
      display: inline
    .icon-arrow-down-right
      color: $title_text_color
      position: absolute
      font-size: $big_size
      bottom: 12px
      right: 12px
    .thumbs
      display: inline
      font-size: $big_size
      .icon-thumbs-up, .icon-thumbs-down
        position: relative
        display: inline-block
        padding: 6px 10px
        background: $border_color
        color: $title_color
        border: 2px solid $title_color
        +border-radius(4px)
        margin-left: 12px
        &:after
          content: "✓"
          position: absolute
          bottom: -4px
          right: -8px
      a
        text-decoration: none
        &:hover
          background: $title_text_color
        &:after
          content: none !important
  #left_triangle
    margin-bottom: 10px
