body[data-action="show"][data-controller="posts"][data-namespace="null"]
  h1
    width: 700px
    margin-bottom: 20px
    font-size: $medium_size
    margin-left: -30px
  #left_triangle
    margin-top: -20px
  .quote
    font-size: $small_size
    color: $subtitle_color
    margin-bottom: 20px
    float: left
  .social
    +clearfix
    float: right
    .facebook, .twitter, .mail_to
      float: right
    .twitter
      margin-left: 12px
      margin-right: -26px
    .mail_to
      padding: 0
      margin-top: -5px
      margin-left: 5px
      margin-right: 10px
      img
        height: 29px
  .post_image
    margin-bottom: 20px
    margin-right: 10px
    float: left
    width: auto
    .image_caption
      max-width: inherit
      font-size: $small_size
      color: $subtitle_color
      display: block
      margin-top: -5px
  .content
    text-align: justify
  #ad
    display: inline-block
    margin-top: -44px