body[data-namespace="devise"],body[data-controller="passwords"][data-namespace="null"]
  .links
    a
      display: block
  .actions
    margin: 0
  #content
    form
      +grid(7)
      +grid-prefix(3)
      +grid-suffix(3)
      +alpha
  .text
    text-align: center
    width: 500px
    margin: 0 auto 20px auto
    p
      padding: 3px