javascript:
  document.write(unescape("%3Cscript%20src='"+(document.location.protocol=='https:'?"https://cdnssl.clicktale.net/www07/ptc/232151f2-83b1-47c3-8929-0fd39d878b21.js":"http://cdn.clicktale.net/www07/ptc/232151f2-83b1-47c3-8929-0fd39d878b21.js")+"'%20type='text/javascript'%3E%3C/script%3E"));
