<div id="newsletter">
  <form action="http://facebook.us3.list-manage1.com/subscribe/post?u=ed6d15658297532c203748c26&amp;id=110e0ddd85" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <label for="mce-EMAIL"><h3 id="newsletter_title">Assine nossa Newsletter</h3></label>
    <div id="newsletter_input">
      <input type="email" value="" name="EMAIL" id="newsletter_email_field" placeholder="email@email.com">
      <input type="submit" value="✓" name="subscribe" id="newsletter_button">
    </div>
  </form>
</div>
