<!DOCTYPE html>
<html>
<head>
  <title>Portal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <nav id="navbar">
      <a href="/" id="home_button">Home</a>
      <a href="quem-somos">Quem Somos</a>
      <a href="/seja-um-afiliado">Seja Um Afiliado</a>
      <a href="/anuncie">Anuncie</a>
      <a href="/newsletter">Newsletter</a>
      <a href="/contact">Fale Conosco</a>
    </nav>
    <div>
      <img src="/header.jpg" id="header_img">
    </div>
  </div>
  <div id="container">
    <div id="categories">
      <nav>
        <a href="" id="poa">+Porto Alegre</a>
        <a href="/sessions/2" id="saude_int">Saúde Integral</a>
        <a href="/sessions/3" id="cresimento">Crescimento Pessoal</a>
        <a href="/sessions/5" id="bem_estar">Bem-Estar</a>
        <a href="/sessions/4" id="beleza">Beleza</a>
        <a href="/sessions/6" id="familia">Família</a>
        <a href="/sessions/7" id="planeta">Planeta</a>
      </nav>
    </div>
    <%= yield %>
  </div>
</body>
</html>
