doctype 5
html lang="#{I18n.locale}" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"
  head
    title= "#{"#{yield :title} · " if content_for?(:title)} Nosso Bem Estar"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png'
  body[data-namespace="#{namespace}" data-controller="#{controller_name}" data-action="#{action_name}" data-locale="#{I18n.locale}"]
    = render "layouts/facebook_sdk"
    #header_wrapper style="background: url('#{@current_region.background_url}') center center no-repeat;"
      #header
        a#logo[href="/"]= image_tag "logo.png"
    #content
      nav#sections
        - Section.order(:ordering).all.each do |section|
          = link_to section.name, section_path(section), class: ("selected" if namespace == "null" && controller_name == "sections" && action_name == "show" && @section == section), style: "color: #{section.color}"
      = "<h1#{ " style='background-color: #{yield :color}'" if content_for?(:color) }>#{yield :title}</h1>".html_safe if content_for?(:title)
      = render "layouts/flash" unless flash.empty?
      = yield
    #footer
      ul
        h3 Cidades
        - Region.all.each do |region|
          a href="#{region.subdomain}.lvh.me:3000"= region.name
      ul
        h3 Seções
        - Section.order(:ordering).all.each do |section|
          = link_to section.name, section_path(section)
      ul
        h3 Contato
        a#email href="mailto:portalnossobemestar@gmail.com" portalnossobemestar@gmail.com
        h3 Redes Sociais
        .social
          = render "layouts/facebook_like"
