<!DOCTYPE html>
<html>
<head>
  <title>Portal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    
    <div>
      <img src="/header.jpg" id="header_img">
    </div>
  </div>
  <div id="container">
    <div id="categories">
      <nav>
        <a href="" id="poa">+Porto Alegre</a>
        <a href="/sections/2" id="saude_int">Saúde Integral</a>
        <a href="/sections/3" id="cresimento">Crescimento Pessoal</a>
        <a href="/sections/5" id="bem_estar">Bem-Estar</a>
        <a href="/sections/4" id="beleza">Beleza</a>
        <a href="/sections/6" id="familia">Família</a>
        <a href="/sections/7" id="planeta">Planeta</a>
      </nav>
    </div>
    <%= yield %>
  </div>
</body>
</html>
